<style>
    .btn{

        margin-bottom:0px;
    }

</style>


<Button @ref="btnEl" Color="color" Size="@size" @onclick="OnButtonClick"
        
        onsubmit="OnSubmit" Class="@ClassEl" Disabled="isDisable"
        Type="@type"
        
        >

    @if (ChildContent != null)
    {
        @ChildContent
    }
    else
    {
        <Icon Name="IconName.Activity"></Icon>
    }

</Button>



@code {

    private Button btnEl;

    [Parameter]

    public RenderFragment? ChildContent { get; set; }

    [Parameter]

    public bool isDisable { get; set; } = false;


    [Parameter]

    public string ClassEl { get; set; }



    [Parameter]

    public ButtonType type { get; set; } =  ButtonType.Submit;


    [Parameter]

    public ButtonColor color { get; set; } = ButtonColor.Primary;

    [Parameter]

    public EventCallback OnButtonClick { get; set; }




    [Parameter]

    public EventCallback OnSubmit { get; set; }



    [Parameter]

    public Size size { get; set; } = Size.Medium;


    //public async Task CallButtonClick()
    //{
    //    await OnButtonClick.InvokeAsync();
    //}

    //public async Task HandleOnSubmit()
    //{
    //    await OnSubmit.InvokeAsync();
    //}
}
